<%= form_with(model: delivery_address) do |form| %>
  <% if delivery_address.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(delivery_address.errors.count, "error") %> prohibited this delivery_address from being saved:</h2>

      <ul>
        <% delivery_address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% form.label :user_id, style: "display: block" %>
    <% form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

<br/>
  <div>
    <%= form.submit "Akceptuj", class:"btn btn-dark"%>
  </div>
<% end %>
