<div id="<%= dom_id restaurant_staff %>">
  <p>
    <strong>Username:</strong>
    <%= restaurant_staff.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= restaurant_staff.password %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= restaurant_staff.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= restaurant_staff.last_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= restaurant_staff.role %>
  </p>


  <p>
    <strong>Role:</strong>
    <%= restaurant_staff.id %>
  </p>


</div>
