<div id="<%= dom_id restaurant_staff %>">
  <p>
    <strong>User name:</strong>
    <%= restaurant_staff.user_name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= restaurant_staff.password %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= restaurant_staff.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= restaurant_staff.last_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= restaurant_staff.role %>
  </p>

</div>
