<div id="<%= dom_id restaurant_staff %>">
  <p>
    <strong>Login:</strong>
    <%= restaurant_staff.username %>
  </p>


  <p>
    <strong>Imię:</strong>
    <%= restaurant_staff.first_name %>
  </p>

  <p>
    <strong>Nazwisko:</strong>
    <%= restaurant_staff.last_name %>
  </p>

  <p>
    <strong>Stanowisko:</strong>
    <%= restaurant_staff.role %>
  </p>

</div>
