<p style="color: green"><%= notice %></p>

<%= render @restaurant_staff %>

<div>
  <%= link_to "Edytuj dane", edit_restaurant_staff_path(@restaurant_staff), class:"btn btn-dark" %>
  <%= link_to "Pokaż personel", restaurant_staffs_path, class:"btn btn-dark" %>
<br/>
<br/>
  <%= button_to "Usuń konto", @restaurant_staff, method: :delete, class:"btn btn-danger"%>
</div>
