<h1>Lista Zamówień</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ID użytkownika</th>
      <th>Cena</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= order.user_id %></td>
        <td><%= order.order_date %></td>
        <td><%= order.status %></td>
        <td>
          <% if logged_in2? %>
          <div class="row">
            <div class="col">
              <%= button_to 'Podgląd', order_path(order), method: :get, class: "btn btn-dark btn-sm" %>
            </div>
            <div class="col">
              <%= button_to 'Edycja', edit_order_path(order), method: :get, class: "btn btn-dark btn-sm" %>
            </div>
          </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Składniki zamówień', order_items_path, class: "btn btn-dark btn-sm" %>