<div id="<%= dom_id product %>">

  
  <div class="jumbotron">
  <h1 class="display-4"><%= product.name %></h1>
  <hr class="my-4">
  <p><%= product.category %> |  <%= sprintf('%.2f zł', product.price) %></p>
  <% if logged_in? %>
    <%= link_to "Zamów", create_order_path( dwa: product.id , trzy: 1), method: :post, class: "btn btn-primary" %>
  <% end %>
</div>
</div>