<h1>Lista Produktów</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Nazwa</th>
      <th>Cena</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= sprintf('%.2f zł', product.price) %></td>
        <td>
          <% if logged_in2? %>
          <div class="row">
            <div class="col">
              <%= button_to 'Podgląd', product_path(product), method: :get, class: "btn btn-dark btn-sm" %>
            </div>
            <div class="col">
              <%= button_to 'Edycja', edit_product_path(product), method: :get, class: "btn btn-dark btn-sm" %>
            </div>
          </div>
          <% else %>
            <%= button_to 'Podgląd', product_path(product), method: :get, class:"btn btn-dark" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if logged_in2? %>
  <%= link_to 'Dodaj nowy produkt', new_product_path, class:"btn btn-dark" %>
<% end %>
